// SendButton.module.scss

.button {
    font-family: inherit;
    font-size: 18px;
    border-radius: 5px;
    background: -webkit-linear-gradient(135deg, rgb(0,255,164), rgb(166,104,255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(0,255,164), rgb(166,104,255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(0,255,164), rgb(166,104,255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(0,255,164), rgb(166,104,255)); /* Standard syntax */
    color: white;
    padding: 0.8em .5em;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  .button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .svgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .button:hover .svgWrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .button:hover svg {
    transform: rotate(45deg);
  }
  